body{

}
nav{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  background-color: #28a575;
}
nav img{
  float: left;
  height: 60%;
  margin-top: 1.5%;
  margin-left: 1%;
}
section{
  width: 80%;
  height: auto;
  position: absolute;
  top: 0px;
  left: 10%;
  background-color: white;
  margin-top: 10%;
  padding: 0% 5% 10% 5%;
}
section span.flow-text{
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
  border-bottom: solid black 0.5px;
  color: green;
}
div.membre p{
  display: list-item;
}
